.navbar{
    background-color:black;
    color:white;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    height: fit-content;
    text-align: center;
    align-items: center;  
    
   
    
    
}
.navbar>.nav-item>p{
    margin: 0px;
    font-size: medium;
    
}
.navbar1{
    background-color: slateblue;
    color: white;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    border-radius: 5px;
    font-size: xx-large;
}
.navbar2{
    background-color:whitesmoke;
    color:black;
    border:2px solid;
    padding: 5px;
    display: flex;
    justify-content: space-around;
    
}