*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inconsolata", sans-serif;
    font-size: 1.1rem;
    
}
body,html{
    height: 100%;
}
.nav-container{
    background-color: black;
    color: white;
    display: flex;
    padding: 15px;
    justify-content: space-around;
    top: 0px;
    position: fixed;
    font-size: 1.0rem;
    width: 100%;
    border-radius: 0%;
    z-index: +1;

}
.nav-container>a{
   color: white;
   text-decoration: none;
   width: 300px;
   text-align: center;
  
   
 }

.nav-container>.nav-item{
    width:300px;
    padding:8px;
    text-align: center;
    transition:0.7s ease;
    border-radius: 0%;

}
.nav-item:hover{
    color: black;
    background-color: aliceblue;
    cursor: pointer;
}
.bg-container{
    height: 72%;
    border: 1px solid;
    background-image: url("https://www.w3schools.com/w3images/coffeehouse.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    filter: grayscale(50%);
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;

}
.bg-container>.text-container{
    font-size: 5.5rem;
    color: white;
    line-height: 150px;


}
.text-container-1{
    position: absolute;
    background-color: black;
    color: white;
    bottom: 0;
    left: 0;
    margin: 10px 15px;
    padding: 4px;

}
.text-container-2{
    position: absolute;
    bottom: 0;
    right: 0;
    color: white;
    margin: 10px 15px;
    padding: 4px;
}
.main-container{
    display: flex;
    justify-content: center;
}
.main{
width: 50%;

}
    
.about-container{
    display: flex;
    justify-content: center;
}
.about-container>p{
    background-color: black;
    color: white;
    padding: 4px;
    margin: 40px 0px;
    font-size: 1.2rem;
    letter-spacing: 5px;
    font-weight: 600;

}
.text-container-3{
    line-height: 20px;
    text-align: justify;
    

}
.text-container-4{
    line-height: 20px;
    text-align: justify;
    margin: 20px 0px;

}
.owner-container{
    border-left-color:rgba(0, 0, 0, 0.429);
    border-left-style: solid;
    border-left-width: 5px;
    padding: 30px;
    background-color: aliceblue;
    margin: 0px 0px 20px 0px;


}
.owner-container>p{
    margin: 20px 0px;

}
.img-container>img{
    width: 100%;
    filter: grayscale(50%);
    margin: 20px 0px;

}
.open-time{
    padding:0px;

}
.address{
    margin: 20px 0px;
}
.label-container{
    display: flex;
    justify-content: space-around;
}
.label-container>label{
    display: inline-block;
    width: 350px;
    /* background-color: gray; */
    text-align: center;
    padding: 10px;
}
.eat-container{
    padding: 10px;
    display: none;
}
.drink-container{
    padding: 10px;
    display: none;
}

.eat-container>div{
    line-height: 40px;
    padding: 20px;
}
.drink-container>div{
    line-height: 40px;
    padding: 20px;
}
#eat{
    display: none;
}
#eat:checked~.eat-container{
    display: block;
}
#Drink{
    display: none;
}
#Drink:checked~.drink-container{
    display: block;
}

.menu-container{
    
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.menu-container>.label-container{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.label-container>label:hover{
    background-color: gray;
}
.img-container-2>img{
    width: 100%;
    margin: 30px 0px;
    filter: grayscale(70%);
}
.where-container{
    display: flex;
    justify-content: center;

}
.where-container>p{
    background-color: black;
    color: white;
    padding: 4px;
    margin: 40px 0px;
    font-size: 1.2rem;
    letter-spacing: 5px;
    font-weight: 600;
}
.img-container-3>img{
    width: 100%;
    filter: grayscale(70%);
    margin: 30px 0px;

}
.text-container-6>p>span{
    background-color: black;
    color: white;
    padding: 2px;   
}
.text-container-7{
    margin: 20px 0px;
}
.form-container>input{
    width: 100%;
    margin: 20px 0px;
    padding: 10px;
    
}
.form-container>div>input{
    border: none;
    padding: 5px;
    
    background-color: black;
    color: white;

}
.form-container>div>input:hover{
    background-color: gray;
    color: black;

}
.footer{
    margin-top: 40px;
    background-color: azure;
    text-align: center;
    padding: 60px;
}
